  <!-- Hamburger Menu Button -->
  <div id="menu-decorator">
      <button id="hamburger-menu-button">☰</button>
  </div> 
  
  <div id="hamburger-menu-container"></div>
  <div id="header-container"></div>

  <div id="toast" class="toast">Text copied!</div>
  <div class="content-container">
    <!-- content injected here -->
  </div>
  <div id="footer-container"></div>

  <script type="module" src="scripts/peerConnectionManager.js"></script>
  <script type="module" src="scripts/db.js"></script>
  <script type="module" src="scripts/timerControl.js"></script>
  <script type="module" src="scripts/header.js"></script>
  <script type="module" src="scripts/footer.js"></script>
  <script type="module" src="scripts/menu.js"></script>    
  <script type="module" src="scripts/taskList.js"></script>
  <script type="module" src="scripts/taskItem.js"></script>
  <script type="module" src="scripts/app.js"></script>