/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  header h1 {
      font-size: 1.5em;
      margin: 0;
  }

  #task-form input[type="text"], #task-form button {
      width: 90%;
  }
}

@media (max-width: 480px) {
  header {
      padding: 10px 0;
  }

  #task-form input[type="text"], #task-form button {
      width: 100%;
  }

  .task-item {
      font-size: 0.9em;
  }
}

/* Toast css */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

/* Show the toast */
.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* button #hamburger-menu-button {
  float: left;
  z-index: -1;
  position: fixed;
  top: 0;
} */

#message-container {
  height: 200px; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc;
}